@import url("//fonts.googleapis.com/css?family=Kalam|Lato:400,400i");

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

html,
body,
.viewport {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 100%;
}

#root {
    display: flex;
    flex: 1;
    justify-content: center;
}

.App {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.load-defaults {
    max-width: 160px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: none;
    /* color: white; */
    background: #e7e7e7;
    padding: 10px 30px;
}